.footer,
header,
main {
  /* margin-left: 1;
  margin-right: 140px; */
  margin: 0 auto;
  max-width: 1320px;

}

.banner {
  width: 1320px;
  height: 600px;
  flex-shrink: 0;
  background-image: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0) 100%), url("resources/Banner Image.png");
  border-radius: 16px;
  background-size: cover;
  /* margin: 20px 140px 120px 140px; */
}

.new-year-style {
  color: #FFF;
  text-align: center;
  font-family: Merriweather;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  justify-content: center;

  padding: 117px 130px 15px 131px;
}

.celebration-style {
  color: #FFF;
  text-align: center;
  font-family: Merriweather;
  font-size: 72px;
  font-style: normal;
  font-weight: 900;
  line-height: 95px;
  /* 131.944% */
  width: 632px;
  text-align: center;

  padding: 0px 344px 117px 344px;

}

/* .new-year{
  margin-left: 399px;
  margin-right: 398.1px;
} */
.off-65 {
  color: #F00;
  text-align: center;
  font-family: Inter;
  font-size: 88px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-top: 120px;
}

.holiday-deal {
  color: #F00;
  text-align: center;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  padding-top: 48px;
}

.All-category {
  color: #070211;
  text-align: center;
  font-family: Inter;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding-top: 16px;
}

.new-year-photo {
  padding-left: 258px;
  padding-right: 258px;

  width: 802.9px;
  height: 500px;
  flex-shrink: 0;
}

.Party {
  width: 1320px;
  height: 600px;
  flex-shrink: 0;
  background-image: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url("resources/Vectorrr.png");
  display: flex;
  justify-content: space-between;
  margin-top: 120px;
  border-radius: 16px;

}

.party-title {
  color: #FFF;
  font-family: Merriweather;
  font-size: 64px;
  font-style: normal;
  font-weight: 900;
  line-height: 88px;
  /* 137.5% */
  letter-spacing: 7.04px;
  width: 642px;
  padding-left: 126px;
  padding-top: 126px;
}

.party-description {
  color: rgba(255, 255, 255, 0.80);
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  
  /* 166.667% */
  width: 697px;
  padding-left: 126px;
  /* padding-top: 24px; */
  /* padding-bottom: 48px; */
}
.primary-button{

}

.btn-join {
  color: #FFF;
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  
}
.primary-button{
  border: white solid 3px;
  background-color: transparent;
  color:white;
  font-size: 20px;
  font-weight: 700;
  border-radius: 8px;
  padding: 16px 32px;
  margin-left: 158px;
  margin-bottom: 142px;
}
.primary-button:hover{
  background-color: white;
  color: #070211;
  font-size: 20px;
  font-weight: 700;
}

.place {
  width: 1320px;
  height: 482px;
  flex-shrink: 0;
  background: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
  margin-top: 120px;
  border-radius: 16px;
  margin-bottom: 120px;

}

.place-text {
  color: #070211;
  text-align: center;
  font-family: Inter;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 56px;
  /* 175% */
  text-transform: capitalize;
  width: 549px;
  height: 168px;
  padding-left: 385px;
  padding-top: 100px;
  padding-right: 386px;
}

#red {
  color: #F00;
}

.btn-design {
  display: inline-flex;
  padding: 16px 32px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 8px;
  background: #F00;
  /* padding: 48px 577px 110px 576px; */
  width: 167px;
  height: 56px;
  margin-bottom: 126px;
  margin-top: 64px;

}

.coming-soon {
  width: 1320px;
  height: 463px;
  background: #FFF;
  display: flex;
  gap: 118px;
  text-align: left;
  justify-content: center;
  margin-top: 200px;
  margin-bottom: 110px;
}

.soon-column1-title1 {
  color: #F00;
  /* text-align: center; */
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.soon-column1-title2 {
  color: #070211;
  font-family: Merriweather;
  font-size: 48px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  text-transform: capitalize;
}

.soon-description {
  color: rgba(7, 2, 17, 0.60);
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  /* 160% */
}

.round-image {
  padding: 25px 25px 25px 25px;
  object-fit: cover;
  border: #FF0000 solid 13px;
  border-radius: 50%;
  margin-right: 160px;
  margin-right: 110px;
  width: 364.84px;
  height: 346.84;
}

.soon-column3-title {
  color: #F00;
  font-family: Inter;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.soon-column3 {
  margin-right: 50px;

}

.holiday-sale {
  width: 1320px;
  height: 950px;
}

.holiday-sale-head1 {
  color: #070211;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;

}

.holiday-sale-title {
  color: #F00;
  text-align: center;
  font-family: Merriweather;
  font-size: 72px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  /* padding-top: 16px; */
  margin-bottom: 16px;
}

.holiday-sale-description {
  color: rgba(7, 2, 17, 0.60);
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 32px;
  /* 160% */
  margin-bottom: 64px;
}

.discount {

  border-radius: 16px 16px 0px 0px;
  background: url('resources/Rectangle\ 1.png');

  height: 433px;
  background-repeat: no-repeat;
  flex-shrink: 0;
  background-position: bottom right;
  position: relative;

}

.discount-img {

  position: absolute;
  right: 310px;
  bottom: 10px;

  flex-shrink: 0;
}

.red-box {
  background-image: url('resources/Rectangle\ 2.png');
  width: 1320px;
  height: 229px;
  flex-shrink: 0;
  border-radius: 16px 0px 16px 16px;
  background: #F00;

}

.red-box {
  position: relative;
}

.gift-box {

  position: absolute;
  bottom: 5px;
  width: 790px;
  height: 663px;

}

.portfolio {
  width: 1320px;
  height: 1200px;
  margin-top: 120px;
}

.image-first-row {
  display: flex;
  padding-bottom: 24px;
}

.image-second-row {
  display: flex;
  justify-content: space-between;
  padding-right: 24px;
}

.portfolio-img {
  padding-right: 24px;
}

.subscribe {
  width: 1320px;
  height: 616px;
  flex-shrink: 0;
  border-radius: 16px;
  background: rgba(255, 0, 0, 0.05);
  margin-top: 120px;
  display: block;
  text-align: center;
  margin-bottom: 120px;


}

.subscribe-button {
  background-color: #FF0000;
  color: white;
  font-size: 20px;
  font-family: Inter;
  font-weight: 600;
  padding: 24px 56px;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  border: none;
}

.subscribe-button:hover {
  background-color: #780000;
}

.subscribe-input {
  background-color: white;
  color: rgba(7, 2, 17, 0.30);
  font-size: 18px;
  font-family: Inter;
  font-weight: 400;
  padding: 25px 267px 25px 30px;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  border: none;
}

footer {
  background-color: #070211;
}

.contact {
  padding: 120px 0px 50px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  font-size: 24px;
  font-family: Inter;
  font-weight: 500;
  line-height: 40px;
  word-wrap: break-word;
}

.contact1>ul {
  list-style: none;
  padding-right: 130px;
}

.contact1>ul>li {
  align-items: center;
  display: flex;
  justify-content: center;
}

.contact1-icon {
  padding-right: 16px;
}

hr {
  margin: 0px;
  border: 1px rgba(255, 255, 255, 0.15) solid;
}

.social-media-icon {
  display: flex;
  justify-content: center;
  padding: 48px 0px 48px 0px;
}

.social-media-icon>a {
  padding-right: 24px;
}

.social-media-icon>a:hover {
  color: none;
  text-decoration: none;
}

.copyright {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  font-size: 24px;
  font-family: Inter;
  font-weight: 500;
  line-height: 40px;
  word-wrap: break-word;
}

.copyright a {
  text-decoration: none;
  color: white;
}

.copyright a:hover {
  text-decoration: none;
  color: #FF0000;
}