header,main{
  margin-left: 140px;
  margin-right: 140px;
}

.banner{
    width: 1320px;
    height: 600px;
    flex-shrink: 0;
    background-image: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0) 100%), url("resources/Banner Image.png");
    border-radius: 16px;
    background-size: cover;
    margin: 20px 140px 120px 140px;
}
.new-year-style{
  color: #FFF;
text-align: center;
font-family: Merriweather;
font-size: 32px;
font-style: normal;
font-weight: 400;
line-height: normal;
padding-top: 117px;
padding-left: 131px;
padding-right: 130px;
padding-bottom: 15px;
}
.celebration-style{
  color: #FFF;
text-align: center;
font-family: Merriweather;
font-size: 72px;
font-style: normal;
font-weight: 900;
line-height: 95px; /* 131.944% */
width: 632px;
text-align: center;
padding-left: 344px;
padding-right: 344px;
padding-bottom: 117px;
padding-top: 0px;

}